<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <best_seller_section>
            <general>
                <enable>1</enable>
                <list_mode>best_seller</list_mode>
            </general>
        </best_seller_section>
    </default>
</config>